Repository lefos13/SEO-optimizer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx}": ["prettier --write", "eslint --fix"],
  "*.{json,css,scss,md}": ["prettier --write"]
}

Migrate Phase 8 medium batch: 4 mini-services (LSI, Clusterer, Improvements, Density)
  src/renderer/components/miniservices/CompetitiveContentAnalyzer.tsx
  src/renderer/components/miniservices/ContentGapAnalyzer.tsx
  src/renderer/components/miniservices/ContentLengthOptimizer.tsx
  src/renderer/components/miniservices/ContentStructureAnalyzer.tsx
  src/renderer/components/miniservices/HeadingOptimizer.tsx
  src/renderer/components/miniservices/InternalLinkRecommender.tsx
  src/renderer/components/miniservices/KeywordClusterer.tsx
  src/renderer/components/miniservices/KeywordDensityAnalyzer.tsx
  src/renderer/components/miniservices/LSIKeywordGenerator.tsx
  src/renderer/components/miniservices/LanguageGuidancePanel.tsx
  src/renderer/components/miniservices/LiveReadabilityScore.tsx
  src/renderer/components/miniservices/LongTailKeywordGenerator.tsx
  src/renderer/components/miniservices/ReadabilityImprovements.tsx
Due: none

Add mini services for technical SEO analysis
  .github/copilot-instructions.md
  src/analyzers/contentServices.js
  src/analyzers/examples.js
  src/analyzers/htmlParser.js
  src/analyzers/keywordServices.js
  src/analyzers/keywordSuggestions.js
  src/analyzers/readabilityServices.js
  src/analyzers/recommendationEngine.js
  src/analyzers/recommendationTest.js
  src/analyzers/seoAnalyzer.js
  src/analyzers/seoRules.js
  src/analyzers/technical/index.ts
  src/analyzers/technical/metaTagGenerator.ts
  src/analyzers/technical/redirectAnalyzer.ts
  src/analyzers/technical/robotsAnalyzer.ts
  src/analyzers/technical/schemaGenerator.ts
  src/analyzers/technical/sitemapAnalyzer.ts
  src/analyzers/technical/technicalChecklistGenerator.ts
  src/analyzers/technical/urlAnalyzer.ts
  src/analyzers/technicalSeoTest.js
  src/analyzers/urlFetcher.js
  src/analyzers/urlFetcherTest.js
  src/database/recommendationPersistence.js
  src/main.ts
  src/main/ipcHandlers.js.backup
  src/renderer/components/miniservices/MetaTagGenerator.tsx
  src/renderer/components/miniservices/RedirectChainAnalyzer.tsx
  src/renderer/components/miniservices/RobotsTxtAnalyzer.tsx
  src/renderer/components/miniservices/SchemaMarkupGenerator.tsx
  src/renderer/components/miniservices/SitemapAnalyzer.tsx
  src/renderer/components/miniservices/TechnicalSEOChecklist.tsx
  src/renderer/components/miniservices/URLStructureAnalyzer.tsx
  src/renderer/components/views/MiniServices.tsx
  src/utils/dbExamples.js
Due: prettier --write, eslint --fix

refactor: remove IPC handlers and preload script, migrate to Webpack for main and preload processes
  README.md
  TYPESCRIPT_MIGRATION_STATUS.md
  docs/WEBPACK_BUILD_SYSTEM.md
  package.json
  src/analyzers/readabilityServices.ts
  src/database/dbManager.js
  src/main.js
  src/main.ts
  src/main/dbManager.js
  src/main/dbOperations.js
  src/main/ipcHandlers.js
  src/preload/preload.js
  tsconfig.main.json
  webpack.main.config.js
  webpack.preload.config.js
  webpack.renderer.config.js
Due: prettier --write, eslint --fix

Refactor URL Structure Analyzer component and styles
  src/analyzers/readability/textAnalysis.ts
  src/analyzers/readabilityServices.ts
  src/renderer/components/miniservices/MetaTagGenerator.tsx
  src/renderer/components/miniservices/MiniServiceContainer.tsx
  src/renderer/components/miniservices/RedirectChainAnalyzer.tsx
  src/renderer/components/miniservices/RobotsTxtAnalyzer.tsx
  src/renderer/components/miniservices/SchemaMarkupGenerator.tsx
  src/renderer/components/miniservices/SitemapAnalyzer.tsx
  src/renderer/components/miniservices/TechnicalSEOChecklist.tsx
  src/renderer/components/miniservices/URLStructureAnalyzer.tsx
  src/renderer/styles/_miniservices.scss
  src/renderer/styles/miniservices/_layout.scss
  src/renderer/styles/miniservices/_technical.scss
Due: prettier --write

docs(project): Add project steering documentation for SEO Optimizer
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
Due: prettier --write

feat(recommendations): Implement comprehensive recommendations system fix
  .kiro/specs/recommendations-fix/design.md
  .kiro/specs/recommendations-fix/requirements.md
  .kiro/specs/recommendations-fix/tasks.md
  eslint.config.mjs
  src/database/recommendationPersistence.ts
  src/main/healthMonitor.ts
  src/main/ipcHandlers.ts
  src/preload/preload.ts
  src/renderer/components/ui/DiagnosticDashboard.tsx
  src/renderer/components/ui/Input.tsx
  src/renderer/components/ui/Select.tsx
  src/renderer/components/ui/Toggle.tsx
  src/renderer/components/views/AnalysisResults.tsx
  src/renderer/components/views/Settings.tsx
  src/renderer/hooks/useSettings.ts
  src/renderer/styles/_components.scss
  src/renderer/styles/_diagnostic-dashboard.scss
  src/renderer/styles/main.scss
  src/types/ipc.types.ts
  src/types/settings.types.ts
  src/utils/debugUtils.ts
  src/utils/flowVerificationUtils.ts
  tests/database/recommendationPersistence.test.ts
  tests/health-monitor.test.ts
  tests/integration/recommendationIPC.test.ts
  tsconfig.renderer.json
  tsconfig.test.json
Due: prettier --write

feat(ui): Implement custom window controls and enhance UI/UX
  README.md
  RELEASE_NOTES.md
  src/main.ts
  src/main/ipcHandlers.ts
  src/preload/preload.ts
  src/renderer/components/Layout.tsx
  src/renderer/components/ui/WindowControls.tsx
  src/renderer/styles/_layout.scss
  src/renderer/styles/_window-controls.scss
  src/renderer/styles/main.scss
  src/types/ipc.types.ts
Due: prettier --write

version change
  package.json
Due: prettier --write
